@charset "utf-8";
*{
    font-family: "Josefin Sans Light",-apple-system,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","'Hiragino Sans GB",STHeiti,"Microsoft Yahei","Source Han Sans SC","Noto Sans CJK SC","WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    overflow: hidden;
    background: url(https://i.loli.net/2020/06/02/X9g6EiwCjxo8arv.jpg) 0% 0% / 100% 100% rgb(248, 248, 255);
    cursor: url(https://cdn.jsdelivr.net/gh/yuDuChen/yuduchen@master/image/5997836b66d58.png), default !important;
}
/*滚动条---*/
*::-webkit-scrollbar { /*滚动条整体样式*/
    width: 3px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
}

*::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    /*background: #2481D4;*/
}

*::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #d2d8dc;
}
/*-----滚动条*/
a,a:hover{
    cursor: url(https://cdn.jsdelivr.net/gh/yuDuChen/yuduchen@master/image/599783800335d.png), default !important;
}
.col-md-left img,.col-md-right img{
    width: 22px;
    height: 21px;
    margin: 0px 15px 1px 0px;
    vertical-align: middle;
}
.ydc_home{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1px 100px 15px 100px;
}
/*calc(100% - 355px)*/
.ydc_count{
    height: auto;
    /*border-radius: 6px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px #000;*/
}
/*加载*/
#shade_animal_wrap {
    opacity: 1;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
    z-index: 99999;
    transition: all 1s ease 0s;
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    transform: translateX(-30px) translateY(-60px);
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 60px solid #fff;
    border-color: #ff00c8 transparent #04dcff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
/*加载结束*/
/*第三方样式重写*/
.at-menu--inline{
    border-right:0px;
}
.flex-center-count{
    height:calc(100% - 50px);
}
.flex-center-top{
    height: 50px;
    border-radius: 3px;
}
.col-md-top{
    background: #585858;
    border-bottom: solid 1px white;
}
.md-top-right{
    /*max-width: 170px !important;*/
}
.at-menu{
    width:auto !important;
}
.col-md-left{
    /*max-width: 170px !important;*/
    border-right: solid 1px;
    box-shadow: 0px 0px 1px #7d7d7d;
    overflow-y:auto;
}
.col-md-left,.col-md-left .at-menu{
    background: #edf0ff;
    border-radius: 5px;
}
.at-menu__item,at-menu__submenu,.at-menu__submenu-title{
    cursor: url(https://cdn.jsdelivr.net/gh/yuDuChen/yuduchen@master/image/599783800335d.png), default !important;
}
.at-menu--inline .at-menu__item:hover>.at-menu__item-link,.at-menu--inline .at-menu__submenu>.at-menu__submenu-title:hover{
    color: #e861d5;
    background: #cccccc;
    border-radius: 1px;
}
.at-menu--inline .at-menu__item-link,.at-menu--inline .at-menu__submenu .at-menu__submenu-title{
    padding-left: 15px;
    font-size: 14px;
    padding: 10px 10px;
}
.at-menu--inline .at-menu__item-link::after{
    width: 3px;
    background-color: #616161;
}
.at-menu--inline .at-menu__item.at-menu__item--active .at-menu__item-link{
    color: #e861d5;
    background-color: #cccccc;
}
.at-menu--inline .at-menu__submenu.at-menu__submenu--active>.at-menu__submenu-title{
    color:#3F536E;
}
.at-menu--inline .at-menu__submenu .at-menu__item-link{
    padding-left: 15px;
}
.ydc_count img{
    width: 336px;
    float: left;
    height: 198.6px;
}
.ydc_count .at-card-count{
    padding: 14px;
    float: left;
    width: calc(100% - 336px);
    height: auto;
    word-wrap:break-word;
    word-break:normal;
}
.ydc_count .at-card{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}
.at-card:not(.at-card--no-hover):hover{
    border-color: #6e6e6e;
    -webkit-box-shadow: 1px 0 16px 0 rgba(100,100,100,0.2);
    box-shadow: 1px 0 16px 0 rgba(100,100,100,0.2);
    cursor: url(https://cdn.jsdelivr.net/gh/yuDuChen/yuduchen@master/image/599783800335d.png), default !important;
}
/*第三方样式重写END*/